<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-img src="./../../../assets/images/g.png" class="logo"></ion-img>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-title class="ion-text-center">Insights</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-title>Your current income is {{fund}}</ion-title>
  <div [ngStyle]='divHeight'>
    <canvas #barCanvas></canvas>
  </div>

  <!-- <ion-card style="width: 100%; padding: 0 ;margin: 0">
    <ion-card-header>
      <ion-card-subtitle style="text-align: left;">Your sold copies:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="width: 100%; margin: 0;">

    </ion-card-content>
  </ion-card> -->

</ion-content>