<app-header tabName="Cart"></app-header>

<ion-content>
  <ion-grid fixed="true">

    <ion-item *ngIf="books.length < 1" class="divider-large"></ion-item>
    <ion-item *ngIf="books.length < 1" class="divider-large"></ion-item>
    <ion-row *ngIf="books.length < 1">
      <ion-col>
        <ion-title class="ion-text-center box">Your cart is empty.</ion-title>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="books.length < 1">
      <ion-col>
        <ion-img src="../../../assets/images/empty-box.png" class="box"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let book of books">
      <ion-col>
        <ion-card>
          <app-book-item style="width: 90%" [isCard]='false' [book]="book">
          </app-book-item>
          <ion-button color="danger" shape="round" (click)="deleteFromInventory(book._id)"> Delete
          </ion-button>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="books.length > 0" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="warning" (click)="presentActionSheet()">
      <ion-icon name="cash-outline" color="success"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
