<ion-form [formGroup]="signInForm" (ngSubmit)="onSubmit()">


  <ion-input placeholder="E-mail" type="email" inputmode="email" mode="ios" formControlName="email"
    [ngClass]="{'error': hasEmailErrors()}"></ion-input>
  <ion-input placeholder="Password" type="password" inputmode="text" mode="ios" formControlName="password"
    [ngClass]="{'error': hasPasswordErrors()}"></ion-input>

  <ion-list>

    <ion-radio-group value="role" name="role">


      <ion-row>
        <ion-col>
          <ion-item expand="block">
            <ion-radio slot="start" (click)="changeRole('READER')" checked="checked"></ion-radio>
            <ion-icon src="../../../assets/icon/reading-book.svg"></ion-icon>
            <ion-label color="medium">I'm a reader</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item expand="block">
            <ion-radio slot="start" (click)="changeRole('WRITER')"></ion-radio>
            <ion-icon src="../../../assets/icon/writing.svg"></ion-icon>
            <ion-label color="medium">I'm a writer</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-list>


  <ion-button type="submit" (click)="onSubmit()" [disabled]="!signInForm.valid" expand="block" color="success"
    shape="round">Submit</ion-button>
</ion-form>
