<app-header tabName="Home"></app-header>

<ion-content>
  <ion-card-content>
    <ion-title color="medium">New releases</ion-title>
    <ion-slides [options]="{ slidesPerView: '2', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let book of newBooks">
        <app-book-item [isCard]='true' [book]='book'></app-book-item>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
  <ion-card-content>
    <ion-title color="medium">Best sellers</ion-title>
    <ion-slides [options]="{ slidesPerView: '2', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let book of bestBooks">
        <app-book-item [isCard]='true' [book]='book'></app-book-item>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-content>
