ion-card{
    width: 90%; box-shadow: 0em 1em 1.1em -1em rgba(161, 161, 161, 0.33);
}
ion-card-header {
    padding: 0;
}
ion-card-content {
    text-align: left; margin: 4px;
}
ion-item{
    box-shadow: 0em 1em 4em -1em rgba(161, 161, 161, 0.33); border-radius: 1.3em
}

ion-thumbnail{
    width: 20%; height: 20%; margin-left: 2em;
}
ion-img{
    border-radius: 0.6em;
}
div{
    display: flex; flex-direction: column; text-align: left; text-indent: 1.5em
}