ion-card{
    width: 90%; box-shadow: 0em 1em 1.1em -1em rgba(161, 161, 161, 0.33);
    margin: 0 auto;
}

@media screen and (max-width: 375px) {
  ion-card{
    width: 80%;
  }
  ion-card-title {
    font-size: 1.2em
  }

  ion-card-subtitle {
    font-size: 1em
  }
}

@media screen and (max-width: 320px) {
  ion-card-title {
    font-size: 1em
  }

  ion-card-subtitle {
    font-size: 0.8em
  }
}


ion-card-header {
    padding: 0;
    margin: 0;
    // width: 10em;
    height: 15em;

}
ion-card-content {
    text-align: left; margin: 4px;
}
ion-item{
    box-shadow: 0em 1em 4em -1em rgba(161, 161, 161, 0.33); border-radius: 1.3em;

}

ion-thumbnail{
    width: 20%; height: 20%; margin-left: 2em;
}
ion-img{
    border-radius: 0.6em;
    max-width: 200px;
}
div{
    display: flex; flex-direction: column; text-align: left; text-indent: 1.5em
}

ion-card-subtitle, ion-card-title {
  text-indent:0
}
