<app-header tabName="Search"></app-header>


<ion-content>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-searchbar placeholder="What inspires you?" mode="ios" inputmode="search" [(ngModel)]="search"
              (ionChange)="ngOnChanges()" autofocus>
            </ion-searchbar>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-item *ngIf="searchedBooks.length < 1" class="divider-medium"></ion-item>
    <ion-item *ngIf="searchedBooks.length < 1" class="divider-medium"></ion-item>
    <ion-row *ngIf="searchedBooks.length < 1">
      <ion-col>
        <ion-img src="../../../assets/images/library.svg" class="box box-img"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let book of searchedBooks">
      <ion-col>
        <app-book-item style="width: 90%" [isCard]='false' [book]="book"></app-book-item>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
